<!DOCTYPE html>
<html lang="en">
<head>
  <title>Job Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
     
     div.col-sm-8 {}
    .bg {
 
        background-image: url("https://cdn.pixabay.com/photo/2015/01/31/05/05/background-618226__340.png");

 
        height: 100%; 

  /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">JobPortal</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Jobs Search</a></li>
        <li><a href="#">Companys</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> For Employer</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Jobportal for Employees</h1>      
    <p>Find Better.Faster Jobs </p>
  </div>
</div>
  
 


<div class="container" class="bg" style="background-image: url('https://cdn.pixabay.com/photo/2015/01/31/05/05/background-61'); ">
<div class="row" >
  <div class="col-sm-8">

  	 <div id="myCarousel" class="carousel slide" data-ride="carousel">
      
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>

  	<p>Online Job Search</p>  
  	<div class="navbar-header" ><ul class="nav navbar-nav"><li class="active"><a target="_blank" draggable="false">All Jobs</a></li><li class=""><a href="https://www.monsterindia.com/government-jobs/" target="_blank" draggable="false">Govt Jobs</a></li><li class=""><a href="https://www.monsterindia.com/contract-jobs" target="_blank" draggable="false">Contract Jobs</a></li><li class=""><a href="//www.monsterindia.com/walkins/" target="_blank" draggable="false">Walk-in Jobs</a></li><li class=""><a href="https://www.monsterindia.com/fresher-jobs.html" target="_blank" draggable="false">Fresher Jobs</a></li></ul></div>
  <form class="form-inline">
    <input type="Text" class="form-control" size="65" placeholder="Enter Job Details">
    <button type="button" class="btn btn-danger">Search</button>
  </form>
 </div>
  </div>

  
  <div class="col-sm-4">
    <div class="well">
      <p>Some text..</p>
    </div>
    <div class="well">
       <p>Upcoming Events..</p>
    </div>
    <div class="well">
       <p>Visit Our Blog</p>
    </div>
  </div>
</div>
<hr>
</div>

<div class="container text-center">    
  <h3>Our Partners</h3>
  <br>
  <div class="row">
    <div class="col-sm-2">
    <a href="https://careers.tcs.com/">
      <img src="https://media.monsterindia.com/trex/prod-cdn/media/promotedemployer/2018/december/Vu1nKQkqtS7HrRsebcdGWEGkXolnonzXkgGqSKI6.jpeg" class="img-responsive" style="width:100%" alt="Image">
      </a>
    <!--  <p>Partner 1</p>-->
    </div>
    <div class="col-sm-2"> 
      <img src="https://media.monsterindia.com/trex/prod-cdn/media/promotedemployer/2018/october/Lrb7H0rKAjQL0C6JuaKNXt67ebtYtQTSul8mb5bZ.jpeg" class="img-responsive" style="width:100%" alt="Image">
        
    </div>
    <div class="col-sm-2"> 
      <img src="https://media.monsterindia.com/trex/prod-cdn/media/promotedemployer/2019/february/9b2getFdWhLbSQHT30QM4TBrwBahTiJqvWbkDIqb.jpeg" class="img-responsive" style="width:100%" alt="Image">
      
    </div>
    <div class="col-sm-2"> 
      <img src="https://media.monsterindia.com/trex/prod-cdn/media/promotedemployer/2018/october/6eoY3YqP4xYcCvyweCinP8saSnVGlJIymvVNkZqU.jpeg" class="img-responsive" style="width:100%" alt="Image">
     
    </div> 
    <div class="col-sm-2"> 
      <img src="https://media.monsterindia.com/trex/prod-cdn/media/promotedemployer/2018/december/PlDYoX8Mq3k6G0okpTjRqbVzLsXulCVBcEDcdbf6.jpeg" class="img-responsive" style="width:100%" alt="Image">
      
    </div>     
    <div class="col-sm-2"> 
      <img src="https://media.monsterindia.com/trex/prod-cdn/media/promotedemployer/2019/february/3Su8VvO8lPzPuqYshkmqZo9bB5lz6KRVo2nBpiMQ.jpeg" class="img-responsive" style="width:100%" alt="Image">
     
    </div> 
  </div>
</div><br>
<img src="map.jpg" class="img-responsive" style="width:100%">

<footer class="container-fluid text-center">
  <p>© 2019 Job Portal - All Rights Reserved</p>
</footer>

</body>
</html>
